<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YFTabBarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C2B11B0205A0D79002C2DDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C2B11C4205A0D7A002C2DDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C2B11CF205A0D7A002C2DDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
