<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VC中TableView去臃肿化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FC99B51208D89E300E5A73C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC99B6A208D89E300E5A73C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC99B75208D89E300E5A73C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
